body{
    background-color: rgb(219, 208, 175);
}
div{
    background-color: aqua;
    height: 90vh;
    aspect-ratio: 10/16;
    margin: auto;

    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 20px 20px 0 0;
}

p{
    color: red;
}